/*GS*/
.information-image-body .information{
    text-align: right;
}
.information h4{
    text-align: center;
}
.information-image-body img{
    width: 100% !important;
    height: auto !important;
}

td a:hover{
    color: rgba(255, 0, 0, 0.59);
}
td a{
    color: rgba(0, 0, 0, 0.77);
}
.middle{
    text-align: center !important;
    vertical-align: middle !important;
}

.help-block .permalink{
    padding-left:10px;
}

.middle{
    text-align: center !important;
    vertical-align: middle !important;
}
.middle i{
    font-size: 16pt;
}
ul.list-nav-menu{
    display: flex;
    /*justify-content: space-between;*/
    padding-left: 0px;
}
.list-nav-menu li{
    list-style: none;
    margin: 0px 10px;
}
.list-nav-menu li a{
    font-size: 14pt;
    color: #35363a;
}

.list-nav-menu li a:hover{
    color: #5a5d6a;
    text-decoration: none;
}
.theme-option .btn.btn-success{
    position: absolute;
    top: -11px;
    left: 80px;
    height: 40px;
}
/* img{*/
    /*width: 100px !important;*/
/*}*/
/*GS*/